@using MyWebsite.Areas.Admin.Session
<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript">
        function imagepreview(input) {
            if (input.files && input.files[0]) {
                var filerd = new FileReader();
                filerd.onload = function (e) {
                    $("#imgpreview").attr('src', e.target.result);
                };
                filerd.readAsDataURL(input.files[0]);
            }
        }
    </script>

    <title>Web Bakery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/css/themes/flat-blue.css">
</head>
<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active">Dashboard</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @{  var session = (UserSession)Session[CommonConstant.ADMIN_SESSION];
                                if (session != null)
                                {
                                    <p class="username">Xin chào @session.userName</p>
                                }
                            }<span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img src="~/Content/images/products/Duc/Prinzregententorte/Prinzregententorte _1.jpg" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        @{  
                                            if (session != null)
                                            {
                                                <h4 class="username">@session.userName</h4>
                                            }
                                        }
                                        
                                        @*<p>emily_hart@email.com</p>*@
                                        @*<div class="btn-group margin-bottom-2x" role="group">
                                            <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> Logout</button>
                                        </div>*@
                                        <a href="/Admin/Logout"><i class="fa fa-sign-out"></i>Logout</></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">Flat Admin V.2</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">

                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-form">
                                    <span class="icon fa fa-file-text-o"></span><span class="title">Danh mục</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-form" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/Admin/DanhMuc/Create">Thêm danh mục</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/DanhMuc/">Danh sách danh mục</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!-- Dropdown-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#component-example">
                                    <span class="icon fa fa-cubes"></span><span class="title">Sản phẩm</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="component-example" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/Admin/SanPham/Create">Thêm sản phẩm</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/SanPham/Index">Danh sách sản phẩm</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>


                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-table">
                                    <span class="icon fa fa-table"></span><span class="title">Khách hàng</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-table" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/Admin/KhachHang/Index">Danh sách khách hàng</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-element">
                                    <span class="icon fa fa-desktop"></span><span class="title">Blog</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-element" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/Admin/Blog/Create">Thêm blog</a>
                                            </li>
                                            <li>
                                                <a href="/Admin/Blog/Index">Danh sách blog</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!-- Dropdown-->
                            
                            <!-- Dropdown-->
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-icon">
                                    <span class="icon fa fa-archive"></span><span class="title">Liên Hệ</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-icon" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="/Admin/LienHe/Index">Thông tin liên hệ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    @RenderBody()
                </div>
            </div>

        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
            </div>
        </footer>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/jquery.min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/Chart.min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/select2.full.min.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/ace/ace.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/ace/mode-html.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/app.js"></script>
            <script type="text/javascript" src="~/Areas/Admin/Content/lib/js/index.js"></script>
</body>
</html>
